quantum.css

body {
	background: blue;
	color: white;
}

h1 {
	text-align: center;
	font-family: fantasy;
	color: hotpink;
	text-decoration: underline;
	font-size: 37px;
	letter-spacing: 2px;
	word-spacing: 4px;
	text-shadow: aqua -3px 3px;
}

h4 {
	color: white;
	font-family: serif;
	text-align: center;
	font-size: 17px;
}

a {
	color: white;
	font-size: 14px;
	font-family: sans-serif;
	border-style: solid;
 	border-color: aqua;
 	border-radius: 7px;
 	padding: 3px;
 	text-decoration: none;
 	background-color: black;
}

h3 {
	color: aqua;
	font-size: 25px;
	font-family: sans-serif;
	text-decoration: underline;
	text-shadow: hotpink -2px 2px;

}

p {
	color: white;
	font-family: serif;
	font-size: 17px;	
}

img {
	height: 100px;
	width: 150px;
	border-color: aqua;
	border-width: 3px;
}